# CICD actions for the Application testing during the push at staging branch.

name: CICD Actions
on:
  push:
    branches:
      - staging

jobs:
  build:
    runs-on: windows-latest
    steps:

      # Checking out the code
      - name: Checkout the code.
        uses: actions/checkout@v2

      # Setting up the env
      - name: Setting the python environment.
        uses: actions/setup-python@v2
        with:
          python-version: 3.9.1

      # Installing the dependencies
      - name: Installing dependencies.
        run: |
          pip install -r .github/workflows/requirements.txt

      # Running the test cases
      - name: Run with pytest.
        run: |
          python -m pytest -v

      # Push to the production branch
      - name: Push to production branch
        run: |
          git config --global user.name "Jubin Ben"
          git config --global user.email "jubinben.666@gmail.com"
          git add -A
          git commit -m "All test cases passed so push staging -> production"
          git push origin production
